body {
  font-family: Outfit, Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FAEFBB;
  overflow-x: hidden;
}

.navbar {
  padding: 15px 0;
  position: sticky;
  top: 0;
  background-color: #FAEFBB;
  transition: background-color 0.3s ease;
  z-index: 100;
}

.inner-con{
  margin: 0 90px;
  display: flex;
  justify-content: space-between;
}

.navbar img {
  width: 80px;
  height: 41.353px;
  flex-shrink: 0;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar ul li {
  float: left;
}

.navbar ul li a {
  display: block;
  color: #4B1B00;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: block;
  color: #4B1B00;
  font-size: 20px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.hero {
  margin: 0;
  background-color: #FAEFBB;
  display: flex;
}

.bg-main {
  background-image: url("images/Ellipse 6.png");
  background-repeat: no-repeat;
}

.hero .left-imgs {
  padding-top: 200px;
  margin-left: 90px;
  display: block;
}

.hero .left-imgs .noter-main {
  width: 700px;
}

.hero .left-imgs .slogan {
  width: 700px;
}

.hero .left-imgs button{
  margin-top: 50px;
  padding: 21px 50px;

  border: none;
  border-radius: 30px;
  background: rgba(252, 248, 227, 0.50);
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);

  color: #4B1B00;
  font-family: Outfit, Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.hero .left-imgs button:hover {
  background: rgba(247, 221, 96, 0.5);
  cursor: pointer;
}

.hero .left-imgs button a {
  text-decoration: none;
  color: #4B1B00;
}

.hero .right-imgs img{
  padding-top: 200px;
  width: 480px;
  height: 800px;
}

.cont-bg-desc {
  position: relative;
  top: -100px;
  width: 100%;
}

.desc {
  display: grid;
  justify-content: center;
  position: relative;
  padding: 350px;
  margin: 0;
}

.bg-desc {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.card {
  margin: 50px 0;
  width: 806px;
  height: 330px;
  border-radius: 40px;
  background: rgba(252, 248, 227, 0.50);
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
}

.card .content {
  display: flexbox;
  padding: 60px;
}

.card .content h3 {
  margin: 0;
  padding: 0;
  color: #4B1B00;
  font-family: Outfit, Roboto;
  font-size: 45px;
  font-weight: bolder;
}

.card .content p {
  width: 370px;
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 126.688%; /* 27.871px */
}

.card .content img {
  position: relative;
  left: 490px;
  bottom: 170px;
  width: 180px;
  height: 180px;
}

.try-noter {
  position: relative;
  top: -300px;
  display: grid;
  grid-template-rows: 400px 480px 200px;
  grid-template-columns: 480px 480px 480px;
}

.try-noter img {
  grid-row: 1 / 2;
  grid-column: 1/2;
  z-index: -1;
}

.try-noter-content {
  grid-row: 2 / 4;
  grid-column: 1 / 4;
  justify-content: center;
  text-align: center;
}

.try-noter h2 {
  margin: 0;
  margin-bottom: 20px;
  color: #4B1B00;
  font-family: Outfit, Roboto;
  font-size: 75px;
  font-weight: 700;
  line-height: normal;
}

.try-noter .box-content {
  padding-top: 140px;
}

.try-noter .box {
  display: block;

  margin: auto;
  width: 1260px;
  padding-bottom: 50px;

  border-radius: 40px;
  background: rgba(252, 248, 227, 0.50);
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
}

.try-noter .box .buttons-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.try-noter .box .button { 
  margin: 0 50px;
  width: 250px;
  height: 250px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  background: none;
  border-radius: 40px;
  border: 3px dashed #4B1B00;
  cursor: pointer;

  color: #4B1B00;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.try-noter .box .button:hover {
  background: rgba(252, 248, 227, 0.50);
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
  cursor: pointer;
}
input[type="file"] {
  display: none;
}


.try-noter .box .submit-file {
  margin-top: 50px;
  padding: 21px 90px;

  border: none;
  border-radius: 30px;
  background: #F8D449;
  backdrop-filter: blur(40px);

  color: #4B1B00;
  font-family: Outfit, Roboto;
  font-size: 18px;
  font-weight: bolder;
  text-transform: uppercase;
}

.try-noter .box .submit-file:hover { 
  background-color: unset;
  border: 1px #4B1B00 solid;
  backdrop-filter: blur(40px);
  cursor: pointer;
}

.try-noter .box .line {
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 0;
  width: 90%;
  height: 1px;
  background-color: #4B1B00;
}

.h2-main-title {
  margin: 50px 0;
  color: #4B1B00;
  font-family: Outfit, Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
}

.try-noter .box .notes-ai .note-cont{
  width: 90%;
  margin: 50px auto;
  margin-bottom: 50px;
  border-radius: 40px;
  background: rgba(252, 248, 227, 0.50);
  box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
}
.note-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.note-header h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 120px;
  color: #4B1B00;
  font-family: Outfit, Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.note-header h4 {
  color: #4B1B00;
  font-family: Outfit, Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sound-img {
  background-color: unset;
  border: unset;
}

.sound-img:hover{
  cursor: pointer;
}
.note-header img {
  margin-top: 10px;
  width: 50px;
  transform: rotate(30deg);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #F8D449;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F8D449;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.notes-ai .note {
    display: block;
    padding: 48px;
    color: #000;
    font-family: Outfit, Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
  }
.footer {
  position: relative;
  height: 270px;
  background-color: #FAEFBB;
  box-shadow: 0 0 10px #888888;
}

.developers {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  animation: move 15s linear infinite;

}

.developers .developers-content {
  margin: 50px 90px;
  display: grid;
  grid-template-rows: 54px 54px 54px;
  grid-template-columns: 142px 250px;
  
}

.developers .developers-content .img-cont{
  display: flex;
  justify-content: center;
  align-items: center;

  grid-row: 1 / 3;
  grid-column: 1 / 2;
  
  width: 150px;
  height: 150px;
  border-radius: 30px 0px 30px 30px;
  background: #F6E694;
}

.developers .developers-content .img-cont .img {
  width: 150px;
  height: 150px;
  border-radius: 30px 0px 30px 30px;
}

.developers .developers-content p{
  margin-left: 15px;
  color: #4B1B00;
  font-family: Outfit, Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: bolder;
  line-height: normal;
}

#p1 {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

#p2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

#p3 {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
}

#end-img {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@keyframes move {
  100% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

